<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="h3">所有物资</h3>
        <p>(PS：点击标题排序，默认按名称排序)</p>
        搜索：<input type="text" class="input-group" ng-model="search">
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover myTable">
            <thead>
            <tr>
              <th ng-click="col='name';desc=!desc">名称</th>
              <th ng-click="col='organization';desc=!desc">所属单位</th>
              <th ng-click="col='description';desc=!desc">简介</th>
              <th ng-click="col='number';desc=!desc">可借</th>
              <th>删除</th>
            </tr>
            </thead>
            <tbody ng-repeat="meterial in meterials|orderBy:col:desc|filter: search">
            <tr>
              <td>{{meterial.name}}</td>
              <td>{{meterial.organization}}</td>
              <td>{{meterial.description}}</td>
              <td class="center">{{meterial.number}}</td>
              <td>
                <button class="btn btn-default" ng-click="delete(this)">删除</button>
              </td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-success" ng-click="showForm = !showForm">新建</button>
          <form ng-show = 'showForm'>
            <div class="form-group">
              <label>物资名称</label>
              <input type="text" class="form-control" placeholder="物资名称" ng-model="newName">
            </div>
            <div class="form-group">
              <label>物资所属单位</label>
              <input type="text" class="form-control" placeholder="物资所属单位" ng-model="newOrganization">
            </div>
            <div class="form-group">
              <label>物资描述</label>
              <input type="text" class="form-control" placeholder="物资描述" ng-model="newDescription">
            </div>
            <div class="form-group">
              <label>物资总数</label>
              <input type="text" class="form-control" placeholder="物资总数" ng-model="newTotalNumber">
            </div>
            <button type="submit" class="btn btn-default" ng-click="newSubmit()">Submit</button>
          </form>
        </div>
        <br/>
        <div class="well">
          <h4>备注</h4>
          <p>这是备注</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<!--借用记录-->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="h3">借用记录</h3>
        <p>(PS：按归还时间排序,未做分页处理请及时删除无用数据)</p>
        搜索：<input type="text" class="input-group" ng-model="search2">
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover myTable">
            <thead>
            <tr>
              <th>名称</th>
              <th>所属单位</th>
              <th>开始时间</th>
              <th>归还时间</th>
              <th>状态</th>
              <th>详情</th>
            </tr>
            </thead>
            <tbody ng-repeat="borrowMaterialmeterial in borrowMaterialmeterials|orderBy:col2:desc2|filter:search2">
            <tr>
              <td>{{borrowMaterialmeterial.materialName}}</td>
              <td>{{borrowMaterialmeterial.materialOrganization}}</td>
              <td>{{borrowMaterialmeterial.startTime}}</td>
              <td>{{borrowMaterialmeterial.endTime}}</td>
              <td>{{borrowMaterialmeterial.status}}</td>
              <td>
                <button class="btn btn-default" ng-click="detail(this)">详情</button>
              </td>
            </tr>
            </tbody>
          </table>
          <!--分页-->
          <!--<nav>-->
            <!--<ul class="pagination">-->
              <!--<li>-->
                <!--<a ng-click="Previous()">-->
                  <!--<span>上一页</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >-->
                <!--<a ng-click="selectPage(page)" >{{ page }}</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a ng-click="Next()">-->
                  <!--<span>下一页</span>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</nav>-->
        </div>
      </div>
    </div>
  </div>
</div>

